<div class="border border-dark border-3 w-75 m-auto mt-5 rounded">
  <div class="bg-primary border-bottom border-3 border-dark text-light">
    <h1 class="px-3 pt-2">{{blog_title}}</h1>
    <p class="fs-6 px-3">Posted by {{"user.username"}} on {{format_date date_created}}</p>
  </div>
  <div>
    <p class="p-3">{{content}}</p>
  </div>
</div>